# Data Types

# a. Numeric

In [ ]:
# Integers are whole numbers; positive and or negative including zero
x = -2
# Floats  are fractions of a number i.e. numbers w/ decimals 
y = 2.758

In [4]:
print(type(x))
print(type(y))
int=-2
float=2.758
print(int)
print(float)

<class 'int'>
<class 'float'>
-2
2.758

# b. Dictionaries

In [6]:
# Dictionaries are a collection/group of objects made up of keys and values  
CoderGirl = {"data_science":35, "SQL":34, "data_analysis":33, "salesforce":32}
print(CoderGirl["data_science"])
print(CoderGirl["salesforce"])

35
32

# c. Boolean

In [51]:
# Boolean are variables that produce one of two values; either true or false (capitalization of T and F needed)
print(type(True))
print(type(False))
Earth_is_flat = False 
print(type(Earth_is_flat))

<class 'bool'>
<class 'bool'>
<class 'bool'>

# d. Sequence

In [31]:
# String are a colletion of characters inside of one set of quotes (immutable)('',"" or '''''')
stringA = "I Love Me" 
stringB = '''In west philidephia born and raised, on the playground is where I spent post of my days...'''
print(stringA)
print(stringB)
print(type(stringA))

I Love Me
In west philidephia born and raised, on the playground is where I spent post of my days...
<class 'str'>

In [63]:
#Tuples group multiple objects in to one value; seperated by commas set can not be modified 
car_tuple = ("BMW","Porsche","Bently") 
car_tuple[2]

'Bently'

In [36]:
print(car_tuple[1])

Porsche

In [47]:
#Lists are ordered pieces of data (changable)
nationalparks_states = ["arch", "MO", "arches", "UT"]

print(nationalparks_states)
print(nationalparks_states[0])
nationalparks_states[2]

['arch', 'MO', 'arches', 'UT']
arch

'arches'

# e. Set

In [62]:
#Set is a unordered string of objects that can not contain duplicates
set1 = set(("orange", "flag", "candle")) 
print(set1)
set2 = {"apple", "flag", "candle"}
print(set2)
set3 = set(["my", "cakeday", 1, 9])
print(set3)

{'orange', 'flag', 'candle'}
{'apple', 'candle', 'flag'}
{'my', 'cakeday', 1, 9}